<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start"></ion-button>
    <ion-back-button defaultHref="login" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">

    <div class="texto-inicio ion-no-margin">
      <ion-img src="assets/img/logo.png" class="login-img"></ion-img>
      <div class="text-div">
        <p class="title">Crazywine</p>
        <p class="texto-extra">Tienda de licoreria</p>
      </div>
    </div>

    <ion-img src="assets/img/fondo.png" id="imgfont">
    </ion-img>


    <ion-card-header class=" ion-no-margin">
      <ion-card-title> Login </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div class="wrapform">

        <div *ngIf="invalidLogin" class="alert alert-danger ion-text-center">
          Invalido usuario o contraseña
        </div>

        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="text" name="user" [(ngModel)]="user" placeholder="Usuario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" name="pass" [(ngModel)]="pass" placeholder="Contraseña" required></ion-input>
        </ion-item>

      </div>

      <div class="password_forgot">
        <ion-button fill="clear" class="ion-no-padding">Olvido la Contraseña?</ion-button>
      </div>

      <div class="sign-btn-wrap">
        <ion-button fill="solid" shape="round" class="sign-btn" (click)="verificar()" >Ingresar</ion-button>
      </div>

      <div class="text-tag">
        <span>o mediante red social</span>
      </div>

      <div class="social-btns">
        <ion-button fill="clear" class="facebookbtn ion-no-padding">
          <ion-img src="assets/img/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="googlebtn ion-no-padding">
          <ion-img src="assets/img/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="applenbtn ion-no-padding">
          <ion-img src="assets/img/apple.png"></ion-img>
        </ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>

<script>
  window.addEventListener('keyboardDidShow', (e) => {
    window.dispatchEvent(new Event('resize')); //temporary scroll-assist fix
  }, false);
</script>