ion-content {
    --ion-background-color: #fff;
}

ion-header {
    position: absolute;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

.wrapform {
    margin-top: -2vh;
}

ion-item {

    ion-input {
        color: #647B9D;
    }
}

.password_forgot {
    text-align: right;

    ion-button {
        font-size: 12px;
    }
}

.sign-btn-wrap {
    text-align: center;
    padding-top: -1vh;

    .sign-btn {
        --ion-primary-color: #215AB7;
        color: #F4F6FA;
    }
}

.texto-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 28vh;

}

.title{
    font-size: 1.5em;
    color: #080808;
    text-align: center;
    font-weight: 600;
}

.text-div{
    text-align: center;
}

.texto-extra{
    margin-top: -13px;
}

.login-img {
    width: 25vw;
}

ion-card-title {
    margin-top: -10vh;
    font-size: 2em;
    color: #080808;
    text-align: center;
    font-weight: 600;
}

.signin-btns {
    margin-top: 25px;
    text-align: center;
}

.loginbtn {
    --ion-color-primary: #215AB7;
    --ion-background-color: #ffff;
}

#imgfont {
    background-color: #ffff;
    width: 100% !important;
    height: 50vh !important;
    object-fit: fill;
}

.text-tag {
    margin-top: 40px;
    text-align: center;

    span {
        font-size: 0.95em;
        font-weight: normal;
        color: #898585;
    }
}

.social-btns {
    text-align: center;

    ion-button {
        width: 40px;
        padding-left: 5px !important;
    }
}

button-inner,
ion-back-button {
    display: none;
}

.alert-danger{
    color: red;
}